body {
	background: #F9F9F9 url("/images/lightpaperfibers.png") repeat scroll left top;
  color: #333;
  font-family: "Oswald",Arial,sans-serif;
  font-size: 13px;
}

.left {
	text-align: left;
}

.field-group-heading {
	padding:5px;
}

div.banner img {
	width : 75%;
}

ul.menu li {
	display: inline-block;
	margin: 0px 5px;
}

ul.menu li.active {
	background-color:aliceblue;
	border-radius: 5px;
}

ul.menu li a {
	padding: 2px;
	width: auto;
	margin: 5px;
	max-height: 40px;
	color: black;
	text-decoration: none;
	display: block;
	letter-spacing: 1px;
	font-size: 1em;
	font-family: verdana;
	-o-transition: 0.7s;
	-ms-transition: 0.7s;
	-moz-transition: 0.7s;
	transition: 0.7s;
	height: 40px;
	border-radius: 5px;
}

ul.menu li>a:hover {
	background: transparent;
}

ul.menu {
	text-align: left;
	width: 20%;
	display: block;
	position: relative;
}

.artist-container img {
	width:50px;
}

.artist-container:hover {
	//cursor:pointer;
	background-color:lightblue;
}

.site-container {
	width:50%
}

.exhibition {
	/* text-align:left; */
}

#Footer {
	font-size: 10px;
	border-top: 1px solid gray;
	padding-top: 3px;
	margin-top: 5px;
}

address#Footer {
	text-align:center;
}

.khd {
	text-align:right;
	position:relative;
	top:-40px;
}

.khd img {
	width:20px;
}

.fullsize img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

.textBox {
  max-height: 120px;
  position: relative;
  overflow: hidden;
  text-align : left;
}
.textBox .read-more { 
  position: absolute; 
  bottom: -35px; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 30px 0; 
	
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, rgba(10,0,0,0));
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.fancybox-button img {
	padding:5px;
	border: 0px solid white;
	margin: 2px;
}

#ExhibitionPictures, #ExhibitionPictures a img {
	vertical-align:top;
}

.item-container {
	width: 180px;
	height: 180px;
	text-align: center;
	position:relative;
	border:10px solid #FFF;
	float:left;
	margin: 5px;
}

.item-title h4 {
	-webkit-margin-before: 0.2em;
	-webkit-margin-after: 0.1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.image-container, .text-container, .item-title, .item-select
{
    position:absolute;
    left:0;
    top:0;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
    /*border: 1px solid blue;*/
    width: 160px;
    height: 160px;
    vertical-align: middle;
}

.image-container:hover
{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.image-container {
	z-index:2;
    background: #F9F9F9 url("/images/nice_snow_@2X.png") repeat scroll left top;
    }       
.text-container {
	z-index:1;
	-webkit-margin-before: 2.5em;
	-webkit-margin-after: 0em;
	margin before: 3;
}       
.item-container .image-container img.landscape {
	/* width: 160px; */
}

.item-container .image-container img.portrait {
	height: 160px;
}

.item-title, .item-select {
	z-index:3;
	height:2.0em;
	background-color : whitesmoke;
	opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.item-select {
	top:144px;
}

.item-select:hover {
	background-color:blue;
	opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}

.thumbnail {
  position: relative;
  overflow: hidden;
  width: 160px;
  height: 160px;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.exhibition-container {
	width: 100%;
	float: none;
	text-align: center;
}

	.exhibition-container h2 {
		text-align: center;
		height: 3em;
	}
	
	.exhibition-image {
		/* border:10px solid white; */
	}
	
	.exhibition-image img.thumbnail {
		position: relative;
		overflow: hidden;
	}
	
	p.exhibition-title {
		height: 3em;
		overflow: hidden;
	}

	img.profile.thumbnail {
		float:left;
		margin: 5px;
	}	
	
	.exhibition-text {
		display: inline-block;
		padding: 0.1em;
		overflow: hidden;
	}
	
.event-container {
	text-align: left;
}

.event-date {
	color: gray;
	font-size: 10px;
}

.event-container h2 {
	font-size: 20px;
}

.contact-field, .contact-field input
{
    width:100%;
    text-align:left;
    padding:5px;
}

.contact-field textarea 
{
    width:100%;
    height:5em;
}

.contact-field input[type="checkbox"]
{
    height:1em;
    width: 1em;
}

.contact-fields 
{
    width: 20em;
    text-align: left;
    padding: 5px;
}

.invalid, .errorMessage
{
    background-color:#fee;
}

.errorMessage 
{
    font-size: 8px;
    border-radius: 4px;
    width: 12em;
    text-align: center;
    margin: 3px;
    text-align:left;
}

.popup 
{
    width:10em;
    height:3em;
    background-color:lemonchiffon;
    vertical-align:middle;
    text-align:center;
    border-radius:4px;
    line-height:3em;
    
}

.exhibition-row {
	/* min-height: 320px; */
	width: 170px;
	float: left;
	padding: 5px 5px 5px 5px;
}

.artist-element, .page-element {
	float:left;
	padding: 5px;
	text-align: center;
}

.row h1 {
	text-align:left;
}

.artist-description {
	text-align:left;
	width: 40em;
	/* float: right; */
	margin: 0px 0px 5px 5px;
}

.contact-address {
	text-align:left;
	padding: 5px;
}

.contact-map, #gmap_canvas {
	height: 300px;
	width: 100%;
}

.contact-map
{
	overflow:hidden;
	box-shadow: 2px 2px 1px #888888;
	padding: 5px;
}

.transparent-fade {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
	background: -moz-linear-gradient(top, transparent, white); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, transparent, white); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, transparent, white); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.event-content-container {
	position:relative;
	text-align: center;
	overflow: hidden;
	width: 100%;
	max-height:6em;
}

.read-more {
	position:absolute;
	margin: 0;
	padding: 5em 0;
	top:0px;
	width: 100%;
}

.exhibition img {
	max-height:20em;
	max-width:20em;
}
