body {
	background: #F9F9F9 url("/images/nice_snow_@2X.png") repeat scroll left top;
  color: #333;
  font-family: "Oswald",Arial,sans-serif;
  font-size: 13px;
}

div.banner img {
	width : 75%;
}

ul.menu li {
	display: inline-block;
	margin: 0 5px;
}

ul.menu li a {
	padding: 2px;
	width: auto;
	margin: 5px;
	max-height: 40px;
	color: black;
	text-decoration: none;
	display: block;
	letter-spacing: 1px;
	font-size: 1em;
	font-family: verdana;
	-o-transition: 0.7s;
	-ms-transition: 0.7s;
	-moz-transition: 0.7s;
	transition: 0.7s;
	height: 40px;
	border-radius: 5px;
}

ul.menu li>a:hover {
	background: transparent;
}

ul.menu {
	text-align: left;
	width: 20%;
	display: block;
	position: relative;
}

.artist-container img {
	width:50px;
}

.artist-container:hover {
	//cursor:pointer;
	background-color:lightblue;
}

.site-container {
	width:50%
}

.exhibition {
	text-align:left;
}

#Footer {
	font-size: 10px;
	border-top: 1px solid gray;
	padding-top: 3px;
}

address#Footer {
	text-align:center;
}

.khd {
	text-align:right;
	position:relative;
	top:-40px;
}

.khd img {
	width:20px;
}

.fullsize img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

.textBox {
  max-height: 120px;
  position: relative;
  overflow: hidden;
  text-align : left;
}
.textBox .read-more { 
  position: absolute; 
  bottom: -35px; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 30px 0; 
	
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, rgba(10,0,0,0));
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.fancybox-button img {
	padding:5px;
}

.item-container {
	width: 180px;
	height: 180px;
	text-align: center;
	position:relative;
	border:10px solid #FFF;
	float:left;
	margin:10px;
}

.item-title h4 {
	-webkit-margin-before: 0.2em;
	-webkit-margin-after: 0.1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.image-container, .text-container, .item-title, .item-select
{
    position:absolute;
    left:0;
    top:0;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
    /*border: 1px solid blue;*/
    width: 160px;
    height: 160px;
}

.image-container:hover
{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.image-container {
	z-index:2;
    background: #F9F9F9 url("/images/nice_snow_@2X.png") repeat scroll left top;
    }       
.text-container {
	z-index:1;
	-webkit-margin-before: 4.5em;
  -webkit-margin-after: 0em;
}       
.item-container .image-container img.landscape {
	width: 160px;
}

.item-container .image-container img.portrait {
	height: 160px;
}

.item-title, .item-select {
	z-index:3;
	height:2.0em;
	background-color : whitesmoke;
	opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.item-select {
	top:144px;
}

.item-select:hover {
	background-color:blue;
	opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}

.thumbnail {
  position: relative;
  overflow: hidden;
  width:160px;
  height:160px;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}