@CHARSET "ISO-8859-1";
.stuff {
	width:400px;	
}

.left {
	text-align: left;
}

.artist-element,.picture-element,.exhibition-element {
	display: inline-block;
	min-width:100px;
	padding:5px;
	vertical-align: top;
}

.exhibition-picture.selected  {
	background-color : lightpink;
}

img.exhibition-element 
{
    width:100px;
}

img.small {
	width : 50px;
	}

img.picture-medium {
		/*width: 150px; */
    height: 250px;
    border: 10px solid white;
}

a.nav.detail img {
	/*width:75px;*/
}

.dateGroup {
	display:block;
	width:60px;
}

.selected {
	background-color:Yellow;
	border-color:Yellow;
}

.controlGroup {
	display: inline-block;
	width:150px;
}

.buttonGroup 
{
    padding:5px;
}

.page-fields-container {
	text-align:left;
}

img.page-element {
	margin:10px;
	width:25%;
}

.page-element textarea {
	width: 25em;
  height: 7em;
}

img.new-picture {
	width:250px;
	height:250px;
}

.event-container {
	height:2em;
	cursor: pointer;
	text-align:left;
	width:100%;
}

.event-status.past {
	background-color:#fee;
	text-decoration: line-through;
}

.event-status.present {
	background-color: #efe;
}

.event-status.future {
	background-color:#eef;
}

.event-container:hover {
	background-color:aliceblue;
}

.event-header {
	float:left;
	width:10em;
}

.event-dates {
	width:20em;
}

.btn-group {
	margin-top: 5px;
	margin-bottom: 5px;
}

.ui_content textarea {
	width:30em;
	height:10em;
}

.ui_content {
	text-align:left;
}

.artist-field {
	margin:5px;
}

img#Path {
	/* width:150px; */
	/* min-height:150px; */
}

img.artist-profile {
	
}

.artist-profile {
	/* padding: 5px 5px 5px 5px; */
}

.profile-chooser {
	position:relative;
	width: 5em;
	height: 3em;
}

#Choose{
	position:absolute;
	left: 0px;
	top:0px;
}

#loader {
	position:absolute;
	left: 3.5em;
	top:0px;
}

section.ui_page h1 {
	text-align:left;
}

.page-element {
	padding: 5px;
}