@CHARSET "ISO-8859-1";
.stuff {
	width:400px;	
}

.artist-element,.picture-element,.exhibition-element {
	display: inline-block;
	min-width:100px;
	padding:5px;
	vertical-align: top;
}

.artist-element a img, .picture-element a img, .exhibition-element a img, .exhibition-picture img {
/*	width :50px*/
}

.exhibition-picture.selected  {
	background-color : lightpink;
}

img.exhibition-element 
{
    width:100px;
}

img.small {
	width : 50px;
	}

img.picture-medium {
		/*width: 150px; */
    height: 250px;
    border: 10px solid white;
}

a.nav.detail img {
	/*width:50px;*/
}

.dateGroup {
	display:block;
	width:60px;
}

.selected {
	background-color:Yellow;
	border-color:Yellow;
}

.controlGroup {
	display: inline-block;
	width:150px;
}

.buttonGroup 
{
    padding:5px;
}

.page-fields-container {
	text-align:left;
}

.page-element {
	margin:10px;
	width:25%;
}

.page-element textarea {
	width: 25em;
  height: 7em;
}

img.new-picture {
	width:250px;
	height:250px;
}